@font-face {
	font-family: 'Lighthaus';
	src: url('../fonts/lighthaus.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/lighthaus.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/lighthaus.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/lighthaus.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/lighthaus.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/lighthaus.svg#lighthaus') format('svg'); /* Chrome < 4, Legacy iOS */
}